@model CourseWork.ViewModels.CreateCollectionViewModel
<div class="container p-xl-3">
    <div class="row justify-content-lg-center">
        <div class="col-lg-8 text-lg-center pb-4">
            <h2 class="h4">Создание новой коллекции</h2>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-5 shadow pt-3 pb-1 mb-2 bg-white rounded">
            <form method="post" asp-controller="Collection" asp-action="CreateCollection">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
                <div class="form-group">
                    <label asp-for="Name" class="form-label"></label><br />
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="form-label"></label><br />
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Theme" class="form-label"></label><br />
                    <select asp-for="Theme.Id" class="form-control">
                        @foreach (var theme in ViewBag.Themes)
                        {
                            <option value="@theme.Id">@theme.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Theme" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label form-control" for="customFile">Выбрать файл</label>
                        <input type="hidden" id="file-upload-url" asp-for="Image" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="card border-white mt-1">
                        <img src="" id="img-preview" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AdditionalFieldNames"></label>
                    <div id="additionalFields">
                    </div>
                    <span asp-validation-for="AdditionalFieldNames" class="text-danger"></span>
                    <a class="btn btn-info btn-block" onclick="addField()" style="color: white">Добавить доп. поле</a>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-block" type="submit" value="Создать" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let i = 0;
    function addField() {
        var str = '<input class="form-control mb-2" name="AdditionalFieldNames['+i+'].Name" placeholder="Название">';
        document.getElementById('additionalFields').innerHTML += str;
        i++;
    }
</script>